{% extends "layout.html" %}
{% block body%}
<head>
    <title>Search Results</title>
</head>
<body >
    <br>
    <h1>Search Results</h1>
    <br>
    <br>

    {% if data %}
        <ul style="list-style-type: None; text-indent: 5em; padding-left: 5em; margin-bottom: 1rem; ">
        {% for item in data %}
            <li style="text-indent: 0em; padding-left: 0;">
                <a href="result/{{item['id']}}" target="_self" style=" text-decoration: None;color:rgb(99,70,127);">
                    <strong>{{ item['productDisplayName'] }}</strong><br>
                </a>
                Category: {{ item['subCategory'] }}<br>
                Color: {{ item['baseColour'] }}<br>
                Year: {{ item['year'] }}<br>
                <h3 > <img src="{{ url_for('static', filename=item['id'] + '.jpg') }}" width="300vw"> </h3>
            </li>
            <br>
            <br>
            <br>
        {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
    <a href="/" target="_self" style="position:fixed; right:10vw; top:5vw;text-decoration: None; color:rgb(99,70,127);"  >
        <h3> back to homepage </h3>
        </a>
</body>

{% endblock %}