{% extends "layout.html" %}
{% block body %}

<div class="block1" style="position: fixed; top: 2vw; left: 0; right: 0; margin: 0; padding: 0;">
    <h1 style="font-size: 3em; width: 100vw; margin: 0; padding: 0;">
      <mark style="display: block; background-color: white; color: white; width: 100vw; margin: 0; padding: 0; text-align: justify;">
        Elizabeth Consolino Elizabeth Consolino Eliazbeth Consolino Elizabeth Consolino Elizabeth Consolino Elizabeth Consolino Elizabeth Consolino Elizabeth Consolino
      </mark>
    </h1>
  
    <h3 style="position: fixed; right: 36vw; top: 2vw; font-size: 48px;">SHOP-A-CLOSET</h3>
  
    <h4 style="position: fixed; top: 13vw; right: 32vw;">
      <img src="https://png.pngtree.com/png-clipart/20230913/original/pngtree-closet-clipart-wardrobe-with-in-it-vector-illustration-cartoon-png-image_11075506.png" style="width: 500px;">
    </h4>
  </div>
<div class="block2" style="position:fixed; right:10vw; top:5vw;">
    <form method="POST" action="/">
        <h3 for="user_input"> <input type="text" id="user_input" name="user_input"> <input type="submit" value="search"> </h3>
    </form>
</div>
{% endblock  %}